  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Merchant Store</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item active" aria-current="page">{{mer.name}}</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

		  <div class="row">
			<div class="col-12 col-lg-7 col-xl-8">
				
					<div class="box">
						<div class="box-header with-border">						
							<h4 class="box-title">All {{mer.merchant_name}} Stores</h4>
							<h6 class="box-subtitle"> {{merchant_name}}</h6>
						</div>
						
						<div class="box-body">
							<div class="table-responsive">
								<table id="productorder" class="table table-hover no-wrap product-order" data-page-size="10">
									<thead>
										<tr>
											<th>Store Name</th>
											<th>City</th>
											<th>Province</th>
											<th>Category</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										{{#each store}}
										<tr>
											<td data-toggle="tooltip" data-original-title="click to visit"><a href="/store/{{id}}">{{name}}</a> </td>
											<td>{{city}}</td>
											<td>{{province}}</td>
											<td>{{category}}</td>
											<td><span class="badge badge-pill badge-success">{{status}}</span></td>
											
										</tr>
										{{/each}}
									</tbody>						
								</table>
							</div>
						</div>
					</div>
			  <!-- /.nav-tabs-custom -->
			</div>
			<!-- /.col -->		

			  <div class="col-12 col-lg-5 col-xl-4">
				 <div class="box box-widget widget-user">
					<!-- Add the bg color to the header using any of the bg-* classes -->
					<div class="widget-user-header bg-black" style="background: url('../images/10.jpg') center center;">
					  <h3 class="widget-user-username">{{mer.merchant_name}}</h3>
					  <h6 class="widget-user-desc">{{mer.city}}</h6>
					</div>
					<div class="widget-user-image">
					  <img class="rounded-circle" src="../images/jd.png" alt="User Avatar">
					</div>
					<div class="box-footer">
					  <div class="row">
						<div class="col-sm-4">
						  <div class="description-block">
							<h5 class="description-header">0</h5>
							<span class="description-text">Total Scan</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
						<div class="col-sm-4 br-1 bl-1">
						  <div class="description-block">
							<h5 class="description-header">0</h5>
							<span class="description-text">This Month</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
						<div class="col-sm-4">
						  <div class="description-block">
							<h5 class="description-header">$0</h5>
							<span class="description-text">Invoice</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
					  </div>
					  <div class="row"> <div class="input-group-append">
								{{#if disabled}}
							<div class="box-footer text-right">
								<a href="/enabled/{{mer.id}}" class="btn btn-rounded btn-primary pull-right">
								   Enable Merchant
								</a>
							</div> 
							{{/if}}
							{{#if active}}
							<div class="box-footer text-right">
								<a href="/disable/{{mer.id}}" class="btn btn-rounded btn-primary pull-right">
								   Disable Merchant
								</a>
							</div> 
							{{/if}}
					  </div>
					  <!-- /.row -->
					</div>
				  </div>
				  
			  </div>
		  </div>

		</section>
		<!-- /.content -->
	  </div>
  </div>