  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">New Merchants</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">All Pending Merchants</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
		  <div class="row">
			  
			<div class="col-12">

			 <div class="box">
				<div class="box-header with-border">
				  <h3 class="box-title">Pending Merchants</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
					  <table id="example5" class="table table-bordered table-striped" style="width:100%">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>City</th>
								<th>Country</th>
								<th>Email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{{#each merchants}}
							<tr>
								<td>{{merchant_id}}</td>
								<td><a href="merchant/{{id}}"> {{merchant_name}} </a></td>
								<td>{{city}}</td>
								<td>{{country}}</td>
								<td>{{email}}</td>
								<td><a href="/approve/{{id}}" class="text-success mr-10" data-toggle="tooltip" data-original-title="Approve">
											<i class="ti-check"></i>Approve
										</a> 

											<a href="/deny/{{id}}" class="text-danger" data-original-title="Deny" data-toggle="tooltip">
												<i class="ti-trash"></i>Deny
											</a>
									</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
					</div>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->      
			</div> 

			<!-- /.col -->
		  </div>
		  <!-- /.row -->
		</section>
		<!-- /.content -->
	  </div>
  </div>